---
---

@import "{{ site.theme }}";

header {
    background-image: url('figs/bg.jpg'); /* 图片路径 */
    background-size: cover; /* 确保图片覆盖整个背景 */
    background-position: center; /* 居中对齐图片 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色和透明度 */
    background-blend-mode: overlay; /* 混合模式 */
}